<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>Test</h1>
    <!-- <img src="{% url 'webcam_test:get_cam'%}"> -->
    <video id='webcam'></video>
    
</body>
    <script>
        const videoElement = document.getElementById('webcam');

        if(navigator.mediaDevices.getUserMedia){
            navigator.mediaDevices.getUserMedia({ video:true })
            .then((stream) =>{
                videoElement.srcObject = stream;
            })
            .catch(err =>{
                console.log("can't load camera", err)
            });
        }
    </script>
</html>